<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 

<!-- link expression to point to the external CSS file -->


<div th:replace="~{QA/Header :: header}"></div>



<body>

<!-- NavBar -->
<div th:replace="~{QA/Header :: navbar}"></div>
<br/>


		<div class="container">
		
			<div class="row">
			
					<div class="col-md-9">
			
				
					<h1 align = "center" th:text="${post.title}"></h1>
					
					<hr/>
					
					<h3 th:text="${post.shortDescription}"></h3>
					
					<hr/>
					
					<div th:utext="${post.content}">	
					
					</div>
				
				</div>
				
				<div class="col-md-3">
				
				<!--  Search Bar goes here -->
				
				<div th:replace="~{QA/Search :: Search}"></div>
				
				</div>
			
			</div>
			
		
		
		</div>
	
	
	
<br/>
<br/>
<br/>
<br/>

	<!-- Footer   -->
<div th:replace="~{QA/footer :: footer}"></div>
	
	
</body>
</html>