<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 

<!-- link expression to point to the external CSS file -->


<div th:replace="~{QA/Header :: header}"></div>



<body>

<!-- NavBar -->
<div th:replace="~{QA/Header :: navbar}"></div>
<br/>
<br/>


		<div class="container" style="margin-top:13px; overflow:scroll;padding-bottom: 5rem;">
		
			<div class="row">
			
					<div class="col-md-9">
			
				
					<h1 align = "center" th:text="${post.title}"></h1>
					
					<hr/>
					
					<h3 th:text="${post.shortDescription}"></h3>
					
					<hr/>
					
					<div th:utext="${post.content}">	
					
					</div>
					
					<!-- post comments -->
					
				<hr />
				
				<div>
				
				 <h2>Comments</h2>
				 
				 	<div th:each = "comment: ${post.comments}">
				 			
				 			<div>
				 			
				 				<p><b>Name:</b><strong th:text="${comment.name}"></strong></p>
				 				<p><b>Date:</b><strong th:text="${#dates.format(comment.dateCreated, 'dd-MMM-yyyy')}"></strong></p>
				 				<p th:utext="${comment.content}" > </p>
				 				<br/>
				 			
				 			</div>
				 	
				 	</div>
				 
				 <div class="card">
				 
				 	<div class="card-header">
				 	
				 	   <h1> Leave a comment</h1>
				 	
				 	</div>
				 	
				 		<div class="card-body">
				 		
				 			<form role="form" 
				 				  method="post" 
				 				  th:action="@{/{postUrl}/comments(postUrl=${post.url})}" 
				 				  th:object="${commentDto}">
				 			
				 			      <div class="row">
				 			      
				 			      		<div class="col-md-5 mb-3">
				 			      		
				 			      			<input class="form-control" 
				 			      				   id="name" 
				 			      				   name="name" 
				 			      				   placeholder="Enter name" 
				 			      				   th:field=*{name} 
				 			      				   type="text"/>
				 			      				   
				 			      		 <p th:if="${#fields.hasErrors('name')}" class="text-danger" th:errors="*{name}"></p> 	
				 			      		
				 			      		</div>				 			      
				 			      </div>
				 			      
				 			      
				 			      <div class="row">
				 			      
				 			      		<div class="col-md-5 mb-3">
				 			      		
				 			      			<input class="form-control" 
				 			      				   id="email" 
				 			      				   name="email" 
				 			      				   placeholder="Enter email" 
				 			      				   th:field=*{email} 
				 			      				   type="text"/>
				 			      		
				 			      		<p th:if="${#fields.hasErrors('email')}" class="text-danger" th:errors="*{email}"></p>
				 			      		
				 			      		</div>			 			      
				 			      </div>
				 			      
				 			      
				 			       <div class="row">
				 			      
				 			      		<div class="col-md-9 mb-3">
				 			      		
				 			      			
				 			      			<textarea class="form-control" 
									  					id="content" 
									  					placeholder="Enter post commenr" 
									  					rows="8"
									 					 name="content"
									  					th:field="*{content}">						
											</textarea>
											
												<!-- checking if title content has error -->
							<p th:if="${#fields.hasErrors('content')}" class="text-danger" th:errors="*{content}"></p>
				 			      			
				 			      		</div>
				 			      </div>
				 			      
				 			      <div class="row">
				 			      
				 			      		<div class ="form-group col-md-5">
				 			      		
				 			      		
				 			      				<button type="submit" class="btn btn-primary">Submit</button>
				 			      		
				 			      		</div>
				 			      
				 			      </div>
				 			
				 			</form>
				 		
				 		</div>
				 
				 </div>
				
				</div>
				
				</div>
				
				
				
				
				<!-- comment section -->
				
				
				<div class="col-md-3">
				
				<!--  Search Bar goes here -->
				
				<div th:replace="~{QA/Search :: Search}"></div>
				
				</div>
				<br/>
				<br/>
				<br/>
			</div>
		</div>
	

	<!-- Footer   -->
<div th:replace="~{QA/footer :: footer}"></div>

<script src="https://code.jquery.com/jquery-3.6.3.min.js" 
integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" 
 crossorigin="anonymous"></script>
 
 <script src="https://cdn.ckeditor.com/ckeditor5/35.4.0/classic/ckeditor.js"></script>
 
    <script>
                        ClassicEditor
                                .create( document.querySelector( '#content ' ) )
                                .then( editor => {
                                        console.log( editor );
                                } )
                                .catch( error => {
                                        console.error( error );
                                } );
                </script> 
	
	
</body>
</html>