<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> 

<!-- link expression to point to the external CSS file -->


<div th:replace="~{common/Header :: header}"></div>



<body>



<!-- NavBar -->
<div th:replace="~{common/Header :: navbar}"></div>



<div align = "center" style="margin-top:13px; overflow:scroll; 
  padding-bottom: 5rem;">
	
	<div style = "border-style:solid; width:1100px">


	<div class="container">
	
		<div class = "row">
		
			<h1>List of Question Posts</h1>
			
		</div>
		
		<!-- search bar -->
		
			<div class="row">
			
				<div class="col-md-5">
				
					<div class="form-group">
					
							<form class="form-inline" th:action="@{/admin/posts/search}">
							
							
								<div class="input-group">
								
									<input type="text" class="form-control" name="query" />
									
									<span class="input-group-btn">
									
										<button class="btn btn-primary" type="submit">Search</button>
									
									</span>
								
								</div>
							
							</form>
					
					</div>
				
				</div>
			
			</div>
			
			<br>
			
			<table class="table table-striped table-hover table-bordered">
			
				<thead class="table-dark">
				
					<tr>				
					
					   <th style="width:25%">Question Title</th>
					   <th style="width:25%">Question Short Description</th>
					   <th style="width:14%">Question Date Created</th>
					   <th style="width:16%">Actions</th>
					</tr>	
				
				</thead>
				
				<tbody>
				
					<tr th:each ="post : ${post}">
					
						
						<td th:text="${post.title}"> ?</td>
						<td th:text="${post.shortDescription}">?</td>
						<td th:text="${post.dateCreated}">?</td>
						
						<td>
						
							<a th:href="@{/admin/posts/{postId}/edit(postId=${post.id})}" class="btn btn-primary">Edit</a>
							
							<a data-toggle="modal" data-target="#modal-warning" th:attr="data-target='#modal-warning'+${post.id}" th:href="@{/admin/posts/{postId}/delete(postId=${post.id})}" class="btn btn-danger" >
							<span class="glyphicon glyphicon-trash"></span>
							Delete
							</a>
							
							<a th:href="@{/admin/posts/{postUrl}/view(postUrl=${post.url})}" class="btn btn-info">View</a>
						
						</td>
						
					
						 
					</tr>	
				
				</tbody>
			
			</table>

	</div>
	
	</div>
	
	</div>
	
	<hr>
	<!-- Footer   -->
<div th:replace="~{common/footer :: footer}"></div>
	
	


</body>
</html>